.events
  .title.row
    %p.col-6.col-sm-6.col-md-2.order-1.order-md-1
      - if first_column == 'owner'
        主催者
      - else
        ゲーム
    %p.col-12.col-sm-12.col-md-8.order-3.order-md-2 タイトル
    %p.col-6.col-sm-6.col-md-2.order-2.order-md-3 開催日
  %ul.body
    - @event_details.each do |event_detail|
      %li.event
        = link_to event_detail, class: 'row' do
          %p.owner.col-6.col-sm-6.col-md-2.order-1.order-md-1
            - if first_column == 'owner'
              = event_detail.owner
            - else
              = event_detail.game.title
          %p.title.col-12.col-sm-12.col-md-8.order-3.order-md-2
            = event_detail.title
          %p.date.col-6.col-sm-6.col-md-2.order-2.order-md-3
            = event_detail.date.strftime('%m/%d/ %H:%M').to_s
%p.pagenation_count.text-center= page_entries_info @event_details
.c_page_feed_select
  %ul.p_flex
    = paginate @event_details
