= form_for @event_detail do |f|
  - if @event_detail.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event_detail.errors.count, "error")} prohibited this event_detail from being saved:"
      %ul
        - @event_detail.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label 'ゲーム'
    = f.collection_select :game_id, Game.all, :id, :title, {}, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = f.label :owner
    = f.text_field :owner, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = f.label :title
    = f.text_field :title, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = f.label :date
    = f.datetime_local_field :date, class: 'form-control col-xs-12 col-sm-6 col-md-4 col-lg-3'
  - if controller.action_name == 'edit' || controller.action_name == 'update'
    .image.text-left.w-100
      - if @event_detail.image.present?
        = image_tag @event_detail.image.variant(resize_to_limit: [1280, 720])
  .field
    = f.file_field :image, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  #tags.my-2
    %p
      タグ
    = f.nested_fields :tags do |tag|
      .field.row.my-1.w-100.mx-0
        = tag.text_field :title, class: 'form-control col-xs-10 col-sm-10 col-md-10 col-lg-8'
        = tag.remove_nested_fields_button '削除', class: 'btn btn-danger co-xs-3 col-sm-2'
    = f.add_nested_fields_button :tags, '追加', class: 'btn btn-primary'
  .field
    = f.label :text
    = f.text_area :text, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field.my-2
  - if controller.action_name == 'new' || controller.action_name == 'create'
    %label{for: 'event_edit_others'} 他者による編集を許可
    = check_box_tag 'event[edit_others]', true, false, {}
  - if controller.action_name == 'edit' || controller.action_name == 'update'
    = f.hidden_field :event_id, value: @event_detail.event.id
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
