.event_details_index
  - if @game.present?
    %h1= @game.title
    - search_params = ""
    - if @search_params.present?
      - search_params = @search_params
    .breadcrumbs
      = link_to 'HOME', root_path
      %p >
      = @game.title
    .search.col-12.mx-2.text-right
      = form_with(url: search_event_details_path, local: true, method: :get, class: 'row my-2 w-100 text-right') do |f|
        = f.collection_select :game_id, @gameList, :id, :title, {selected: @game.id}, class: 'form-control col-xs-12 col-sm-8 col-md-3 col-lg-3'
        = f.text_field :keyword, value: search_params, class: 'form-control col-xs-12 col-sm-8 col-md-6 col-lg-6'
        %button.btn.btn-success.my-2.my-sm-0{:type => "submit"} 検索
  = render 'events', first_column: 'owner'