- content_for :title do
  = @event_detail.title
.event_details_show
  %h3
    = link_to @event_detail.game.title, game_event_details_path(id: @event_detail.game.id)
  %h1
    = @event_detail.title
  .image.text-left.w-100
    - if @event_detail.image.present?
      = image_tag @event_detail.image.variant(resize_to_limit: [1000, 1000])
  %p.owner
    %b 主催者:
    = @event_detail.owner
  %p.date
    %b 開催日
    = @event_detail.date.strftime('%Y/%m/%d/ %H:%M')
  .tags
    - @event_detail.tags.each do |tag|
      = link_to tag.title, search_event_details_path(keyword: tag.title, game_id: @event_detail.game.id), class: 'tag'
  .text
    = text_url_to_link(h(simple_format(sanitize(@event_detail.text, tags: %w(p br a blockquote))))).html_safe
  - if user_signed_in? && |
      (@event_detail.user_id == current_user.id || |
      current_user.role == 'editor' || |
      current_user.role == 'admin') |
    = link_to '編集', edit_event_detail_path(@event_detail), class: 'btn btn-primary'
    = link_to '複製', duplication_event_detail_path(@event_detail), class: 'btn btn-secondary '
    = link_to '削除', event_detail_path(@event_detail), data: { confirm: "削除してもよろしいですか?" }, method: :delete, class: 'btn btn-danger'
/twitter埋め込み表示するスクリプト
%script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
