.event_details_show
  %h1
    = link_to @event_detail.game.title, game_event_details_path(id: @event_detail.game.id)
  %h2
    = @event_detail.title
  %p
    %b 主催者:
    = @event_detail.owner
  %p
    %b 開催日
    = @event_detail.date.strftime('%Y/%m/%d/ %H:%M')
  .tags
    - @event_detail.tags.each do |tag|
      = link_to tag.title, tag_search_event_details_path(keyword: tag.title), class: 'tag' 
  .text
    = text_url_to_link(h(simple_format(@event_detail.text))).html_safe
  - if user_signed_in?
    = link_to 'Edit', edit_event_detail_path(@event_detail)
