= form_with(model: event, local: true) do |form|
  - if event.errors.any?
    #error_explanation
      %h2
        = pluralize(event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - event.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label 'ゲーム'
    / = form.number_field :game, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
    = form.collection_select :game_id, Game.all, :id, :title, {}, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = form.label :owner
    = form.text_field :owner, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = form.label :title
    = form.text_field :title, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = form.label :text
    = form.text_area :text, class: 'form-control col-xs-12 col-sm-10 col-md-10 col-lg-8'
  .field
    = form.label :date
    = form.datetime_local_field :date, class: 'form-control col-xs-12 col-sm-6 col-md-4 col-lg-3'
  .actions
    = form.submit '登録', class: 'btn btn-primary'
